    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
    .servicios-title {
        font-size: 35px;
        font-weight: bold;
        margin: 0;
        color: var(--text-color);
        font-family: "Noto Sans", sans-serif;
        margin-top: 50px;
        text-align: center;
        animation: moverDerecha 2s ease-in;
    }
    
    .servicios {
        margin: 0 auto;
        /* background: linear-gradient(rgba(255, 255, 255, 0.84), rgba(255, 145, 2, 0.929)); */
    }
    
    .servicios-title {
        padding-bottom: 2%;
    }
    
    .servicios-contenedor {
        margin: 50px 40px 50px 40px;
        /* margin: auto; */
    }
    
    .imagen-card {
        padding-top: 5%;
    }
    
    @keyframes moverIzquierda {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes moverDerecha {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes moverAbajo {
        0% {
            opacity: 0;
            transform: translateY(100px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes moverArriba {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }